.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 95%;

    @media (max-width: 850px) {
        justify-content: center;
    }
}
