.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
  width: 45%;
  min-height: 500px;
  min-width: 250px;
  max-width: 750px;
  border: solid 1px #ff8c00;
  border-radius: 20px;

  @media (max-width: 850px) {
    width: 90%;
    padding: 10px 0;
  }

  .cardText {
    font-size: 1rem;
    margin: 16px 0;
  
    @media (max-width: 850px) {
      margin: 5px 0;
    }
  }


  &:hover {
      box-shadow: 0 0 24px 8px rgba(255, 140, 0, 0.5);
  }
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  text-align: center;
  margin-bottom: 16px;
  max-width: 80%;

  @media (max-width: 850px) {
    margin-bottom: 5px;
  }
}

.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 90%;
  height: 25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  max-height: 400px;
  width: auto;
}

.imageWrapper > div {
  flex: 0 0 100%;
}

.cardPictures {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  cursor: zoom-in;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 10px;
  z-index: 2;
}

.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px;
}

.counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
}

.lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightboxContent {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.lightboxImage {
  width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 80vh;
  border-radius: 10px;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: -40px;
  right: -10px;
  background: none;
  border: none;
  color: #ff8c00;
  font-size: 24px;
}

.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #ff8c00;
  font-size: 2rem;
}

.prevArrow {
  left: -30px;
}

.nextArrow {
  right: -30px;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(40px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}
