* {
    font-family: 'Poppins', sans-serif;
    cursor: crosshair;
    font-weight: 200;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #FF8C00;
    text-align: center;

    @media (max-width: 650px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    position: relative;
    width: fit-content;
    z-index: 2;
    font-size: 2rem;
    color: #FF8C00;
    text-align: center;
    font-weight: 300;
    border: #FF8C00 solid 1px;
    border-radius: 10px;
    display: inline-block;
    padding: 0 10px;
    margin: 10px;

    @media (max-width: 650px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    color: #FF8C00;
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    padding: 0 20px;
    margin: 24px 0;

    @media (max-width: 650px) {
      margin: 10px 0;
    }
  }